:root{
    --dark-color: #000000;
    --white-color: #ffffff;
    --dark-bg-color: #141414;
    --dark-alpha-color: #09090b;
    --gray-bg-color: #191919;
    --main-purple-color: #703bf7;
    --main-alpha-color: #7856d1ab;
    --main-hover-color: #8355f6;
    --alt-main-alpha: #7856d130;
    --border-color: #222224;
    --opacity-color: #26262698;
    --font: "Urbanist", sans-serif;
    /* --font: "Open Sans", sans-serif; */
    --header-height: 8vh;
    --max-width: 1200px;
    --top-margin: 1rem;
    --thick-rounded: 0.5rem;
    --thin-rounded: 0.5rem;
    --section-width: 1200px;
    --shadow:1px 2px 15px 2.5px rgba(38,38,38,0.75);
}

/* Default Override */
body{
    font-family: var(--font);
    background-color: var(--dark-bg-color);
}
:target {
    scroll-margin-top: 5rem;
}


/* Bootstrap Styles Override */
.container{
    padding: 0;
}

.bi-arrow-up{
    font-size: 1.75rem;
}

.border,
.border-top,
.border-bottom{
    border-color: var(--border-color) !important;
    border-width: 1.9px !important;
}

.navbar-brand > img{
    width: auto;
    height: 32px;
}

.form-control{
    background-color: var(--dark-bg-color);
    border-width: 2px;
    border-color: var(--border-color);
    color: #ccc;
    font-weight: 600;
}

.form-control:focus{
    background-color: var(--dark-bg-color);
    border-color: var(--main-alpha-color);
    box-shadow: none;
}
.form-control::placeholder{
    color: #676767;
}

.form-control:disabled {
    background-color: var(--opacity-color);
    opacity: 1;
}

.form-control:focus-within{
    color: #ccc;
}

.form-check-input:focus {
    border-color: var(--main-alpha-color);
    outline: 0;
    box-shadow: none;
  }
.form-check-input:checked{
    background-color: var(--main-hover-color);
    border-color: #703bf7;
}

.form-check-input[type=checkbox]:indeterminate {
    border-color: var(--main-alpha-color);
}

.form-label{
    font-weight: 600;
}

.form-switch .form-check-input:focus {
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23262626'/%3e%3c/svg%3e");
  }
  .form-switch .form-check-input:checked {
    background-position: right center;
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  }

.btn{
    opacity: 1;
    background-color: var(--main-purple-color);
    color: var(--bs-white);
}

.btn:hover{
    background-color: #8355f6;
    box-shadow: 1px 2px 15px 2.5px rgba(38,38,38,0.75);
}

textarea{
    font-size: 2rem;
    resize: none;
}

.modal{
    background-color: rgba(24,24,27,0.3);
    /* backdrop-filter: blur(0.75px); */
}

.modal-header,
.modal-footer{
    border-color: var(--border-color);
}


.btn-close {
	--bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
}

tbody{
    border: none;
}

.table>:not(caption)>*>*{
    border: none;
    background-color: var(--dark-bg-color);
    color: var(--white-color);
}

.table>:not(caption)>:first-of-type>:first-child{
    border-top-left-radius: var(--thin-rounded);
    /* background-color: red; */
}
.table>:not(caption)>:first-of-type>:last-child{
    border-top-right-radius: var(--thin-rounded);
    /* background-color: red; */
}

.table>:not(caption)>:last-of-type>:first-child{
    border-bottom-left-radius: var(--thin-rounded);
    /* background-color: red; */
}
.table>:not(caption)>:last-of-type>:last-child{
    border-bottom-right-radius: var(--thin-rounded);
    /* background-color: red; */
}

.lyric-col p{
    white-space: text-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-group-item{
    height: 3rem;
}


/* Bootstrap Styles Override */

/* my styles */

.fs-7{
    font-size: 1.2rem;
}

.fw-500{
    font-weight: 500;
}

.bg-gray{
    background-color: var(--gray-bg-color) !important;
}

.bg-dark{
    background-color: var(--dark-bg-color) !important;
}

.bg-main-alpha{
    background-color: #703bf761;
}

.bg-alt-alpha{
    background-color: var(--alt-main-alpha);
}
.bg-gray-alpha{
    background-color: rgba(180, 180, 180, 0.176);
}

.bg-blur{
    background-color: #33333355;
    backdrop-filter: blur(1px);
}

.bg-trans{
    background-color: transparent !important;
}

.my-btn{
    height: 2.5rem;
    border: none;
    border-radius: var(--thin-rounded);
    background-color: var(--main-purple-color);
    color: var(--white-color);
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.my-btn:hover{
    background-color: var(--main-hover-color);
    /* box-shadow: var(--shadow); */
}

.hidden{
    display: none;
}

.h-90{
    margin: 1.75rem;
    height: 90%;
}




.ignore-events{
    pointer-events: none;
}
/*  my styles */

#header{
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 8vh;
}

#upload-section{
    padding-top: 8vh;
    height: 96vh;
    margin: 0 auto;
}

#description{
    height: calc(25% - 8vh);
}

#uploader-container{
    height: calc(100% - (25% - 8vh));
}

#footer{
    height: 4vh;
}


#uploader{
    border-radius: var(--thick-rounded);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#uploader:hover,
.drag-over{
    border-color: var(--main-purple-color) !important;
    box-shadow: var(--shadow);
}

#uploader label{
    cursor: pointer;
}

#uploader label>svg{
    width: 4rem;
    height: auto;
    fill: var(--bs-white);
}

#editor{
    margin-top: 2rem;
    border-radius: var(--thick-rounded);
    border-color: #222224;
}
.album{
    max-width: 320px;
    height: auto;
}

#btn-search{
    width: 13ch;
}

#btn-download{
    width: 24ch;
}

#btn-top{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
}


#track-form > div > svg,
.info-svg > svg{
    top: 18%;
    right: 2%;
}

#lyrics-loader{
    top: 7%;
    height: 79%;
}

.table-lyric{
}

.table-lyric>div:first-of-type{
    border-top-left-radius: var(--thin-rounded);
    border-top-right-radius: var(--thin-rounded);
}

.table-lyric>div:last-of-type{
    border-bottom-left-radius: var(--thin-rounded);
    border-bottom-right-radius: var(--thin-rounded);
}

.table-lyric>div:first-of-type div:last-of-type{
    border-top-right-radius: var(--thin-rounded);
}

.table-lyric>div:last-of-type div:last-of-type{
    border-bottom-right-radius: var(--thin-rounded);
}

.remove-col{
    border-top-left-radius: var(--thin-rounded);
    border-bottom-left-radius: var(--thin-rounded);
}

.lyric-row{
    margin: 0 auto;
    width: 100%;
    height: 3rem;
    background-color: var(--dark-bg-color);
    border-bottom: thin solid var(--border-color);
    color: #ccc;
    font-weight: 600;
}

.lyric-row.active{
    background-color: var(--main-alpha-color);
}

.time-col{
    font-weight: 600;
    color: white;
}

.lyric-col{
    overflow-x: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}


.btn-col:hover{
    background-color: var(--main-alpha-color);
    cursor: pointer;
}

.btn-col > svg{
    fill: white;
}

::-webkit-scrollbar {
    /* // Width of vertical scroll bar */
    width: .2rem;
    /* // Height of horizontal scroll bar */
    height: 10px;

  }
  ::-webkit-scrollbar-thumb {
    border-radius: .2rem;
    background: #c2c9d2;
  }


  input[type="range"]{
    accent-color: var(--main-purple-color);
    width: 100%;
    height: 1.5rem;
    padding: 0;
}


.control{
    padding: 0;
    width: 2.2rem;
    height: 2.2rem;
    background-color: var(--main-purple-color);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.8px solid #3333334f;
    transition: all 0.2s ease-in-out;
}

.control:hover{
    /* border-color: var(--main-purple-color); */
    background-color: var(--main-hover-color);
}

.control > svg{
    /* background-color: greenyellow; */
    fill: #ccc;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
}

.time-control{
    background-color: transparent;
}

.time-control>svg{
    width: 1.5rem;
    height: 1.5rem;
    fill: #ccc;
}

/* .time-control>svg:active{
    fill: #3a393d;
} */

.time-control:hover{
    background-color: #3a393d;
}

/* .control > svg:hover{
    fill: var(--main-purple-color);
}

.control svg>path{
    pointer-events: none;
} */

/* Media queries */

/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .modal-sm{
        min-width: 90%;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container-lg-max{
        max-width: 1024px;
    }

    .container-sm{
        max-width: 840px;
    }
    .modal-lg{
        min-width: 65%;
    }
  }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }